.accolades > .item > i {
    background-color: transparent;
    /* color: inherit; */
    border: 2px solid;
}

header.hero .hero-body .hero-text h1 {
  letter-spacing: normal;
}

#services, #skills, #contact {
	background-color: #171717;
}

#resume, footer.footer {
	background-color: #0d0c0d;
}
